/*  CODE MAX */
:root {
  --customPadding: 50px;
}
@font-face {
  font-family: "ClanforLBBWMedium";
  src:
    url("fonts/ClanforLBBW-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "ClanforLBBWNews";
  src:
    url("fonts/ClanforLBBW-News.ttf") format("truetype");
}

img {
  max-width: 100%;
  height: auto;
}

.main-box {
  position: relative;
}
.module-border-wrap {
  display:inline-block;
  background: linear-gradient(to top, red, purple);
  padding: var(--customPadding);
}

.module {
  color: #222;
  margin-bottom: -2px;
}

.module img {
  min-width: 300px;
}

.logo-wrapper {
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  right: var(--customPadding);
}

.logo-wrapper img  {
  max-height: 18px;
}

.title-wrapper {
  font-family:ClanforLBBWNews;
  position:absolute;
  left: var(--customPadding);
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
}
.top-wrapper {
  position:absolute;
  top: 0;
  left:0;
  right: 0;
  height: var(--customPadding);
}

.claim {
  font-family: ClanforLBBWNews;
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.5rem;
}

.claim-Italic {
  font-family: ClanforLBBWMedium;
  font-style: italic;
}

.bottom-wrapper {
  position:absolute;
  left:0;
  right: 0;
  bottom:0;
  height: var(--customPadding);
}
